@import "tailwindcss";

@theme {
--color-main-blue: #003f62;
--color-main-Yellow: #eda415;
--color-light-Gray: #F4F4F4;
--color-text-White: #FFFFFF;
--color-text-Dark: #292D32;
--color-light-Blue: #B3D4E5;
}